@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

:root {
  --fonte-principal: arial;
  --fonte-secundaria: "Playwrite DK Loopet", cursive;
  --cor-primaria: #2f5b31;
  --cor-primaria-variavel: #EB713B;
  --cor-secundaria: #8fb575;
  --cor-terciaria: #bfbfbf;
  --black: #090b09;
  --white: #effff2;
}

html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

#botao-sair{
  border: none;
  background: none;
  color: var(--white);
  padding: 0;
  font-size: 1.2em;
}

.base__container{
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #2f5b31;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  padding: 0;
}

.menu-hamburger {
  cursor: pointer;
  z-index: 1000;
  top: 20px;
  left: 20px;
}

.hamburger-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.hamburger-icon.open {
  transform: rotate(90deg);
}

.menu-expandable {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Ajuste conforme necessário */
  height: 100%;
  background-color: #8fb575;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
  padding-top: 60px; /* Ajuste para acomodar o espaço do menu hamburguer */
}

.menu-expandable.open {
  transform: translateX(0);
}

.menu-expandable ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-expandable ul li {
  padding: 15px;
}

.menu-expandable ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu-expandable ul li a:hover {
  text-decoration: underline;
}

.nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.profile-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.profile-menu {
  position: absolute;
  top: 3.36em;
  right: 0;
  background-color: var(--cor-secundaria);
  box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
  z-index: 1000;
  border: none;
  font-size: 1em;
}

.profile-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.profile-menu ul li {
  padding: 10px;
}

.profile-menu ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2em;
}

.profile-menu ul :hover{
  background-color: var(--cor-primaria);
  color: var(--white);
}


#lista-categorias{
  display: flex;
  flex-direction: column;
  font-size: 1em; /* Ajuste o tamanho da fonte conforme necessário */
  color: white; /* Cor do texto */
}

#lista-categorias li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#lista-categorias li a {
  text-decoration: none;
  color: white; /* Cor do texto */
}

#lista-categorias li a:hover {
  text-decoration: underline;
  color: #ccc; /* Cor do texto ao passar o mouse */
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.5em 0;
}

.search-bar {
  width: 80%;
  max-width: 600px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

.search-icon {
  margin-left: -40px; /* Ajuste conforme necessário */
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 0 20px 20px 0; /* Ajuste conforme necessário */
}

#tittle{
  color: var(--cor-primaria);
  font-size: 1.7em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.swiper-wrapper{
  max-height: 30%;
}

.highlights-section {
  padding: 20px;
  background-color: #fff;
  min-height: 40%; /* Defina uma altura mínima conforme necessário */
  box-shadow: 1px 0.5px 9px var(--cor-terciaria);
}

.swiper-container {
  height: 100%; /* A altura do contêiner Swiper será 100% da altura da seção de destaques */
}

.highlight-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* A altura do item de destaque será 100% da altura do slide */
}

.highlight-item img {
  max-width: 50%;
  max-height: 20%; /* Ajuste conforme necessário para evitar imagens muito grandes */
  object-fit:contain; /* Ajuste a imagem para caber dentro do contêiner sem cortar */
  border-radius: 10%;
  margin-bottom: 10px;
}

.highlight-item p {
  font-size: 14px;
  margin: 5px 0;
}
 
.menu-categories span {
  font-size: 22px; /* Maior do que as categorias individuais */
  color: var(--white);
  cursor: pointer;
}

.dropdown-content li a {
  font-size: 16px; /* Menor do que o texto "Categorias" */
} 


/* BANNER */

.banner {
  background-image: url('../assets/banner-bg2.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 20px 0; /* Ajuste o padding conforme necessário */
}

.banner__titulo{
  text-align: left;
  margin-left: 0.5em;
  text-shadow: 1px 1px 7px black;
}

.banner-content-titulo{
  color: white;
}

.banner-content {
  place-items: center center;
  text-align: left;
  color: white; /* Ajuste a cor do texto conforme necessário */
  display: flex;
  flex-direction: row;
  margin: 0 20em;
}

.banner-content-img-wrapper{
  justify-content: center;
  align-items: center;
}

.banner-product {
  margin-top: 20px;
  padding-left: 10%;
}

.banner-product-image {
  width: 13em;
  height: 13em;
}


.banner-product-description {
  text-align: left;
  margin-right: 10%;
}

.banner-product-description h3 {
  color: var(--white);
  margin: 0;
  text-shadow: 1px 1px 7px black;
}

.banner-product-description p {
  margin: 0;
  color: var(--white);
  text-shadow: 1px 1px 7px black;
}


/* BANNER CATEGORIAS */
.categories_banner_header{
  margin-left: 0.5em;
  color: var(--cor-primaria);
}

.categories_banner_tittle {
  margin-left: 0.5em;
  color: var(--white);
  position: relative;
  text-shadow: 1px 1px 1px rgb(109 109 109);
  z-index: 10;
}

.grid-container {
  display: grid;
  grid-template: "cell0 cell1" auto "cell0 cell2" auto / 1fr 1fr; /* Duas colunas */ /* Duas linhas */
  gap: 0.1em;
  margin-bottom: 1.2em;
}

#cell:hover{
  transform: scale(1.2em);
}

.cell0 {
  grid-area: cell0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 13em;
  text-decoration: none;
}

.cell1 {
  grid-area: cell1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 6.5em;
  text-decoration: none;
}

.cell2 {
  grid-area: cell2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 6.3em;
  text-decoration: none;
}

.pagebuilder-columns {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr; /* Default para mobile */
}

.show-all-button {
  display: flex;
  max-height: 4em;
  background-color: var(--cor-primaria-variavel);
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-weight: bold;
  color: var(--white);
  border: none;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.1em;
  text-decoration: none;
}

.show-all-button:hover{
  background-color: #da5f2a;
}


@media only screen and (width <= 1095px) {
  body {
    background-color: rgb(238 245 219);
  }

  .banner-content {
    place-items: center center;
    text-align: left;
    color: white; /* Ajuste a cor do texto conforme necessário */
    display: flex;
    flex-direction: column;
    margin: 0 1em;
  }  
}

@media only screen and (width <= 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  } 
}
